* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: system-ui, Helvetica, Arial, sans-serif;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

.navbar ul {
	list-style: none;
	display: flex;
	padding: 1rem;
	li {
		margin-inline-end: 1rem;
	}

	a {
		color: black;
		text-decoration: none;
		&:hover {
			cursor: pointer;
			text-decoration: underline;
		}
	}
}
